<style>
  footer div {
    font-size: 12px;
    align-items: center;
    background: var(--col-text);
    color: var(--col-bg);
    height: auto;
    padding: 1rem 2rem;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    min-width: 1vw;
    margin: auto;
    text-align: center;
  }

  footer .link-btn {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3pt;
  }

  footer span {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8pt;
  }

  footer a {
    display: block;
  }

</style>

<body>
  <footer class="sans">
    <div>
      <span>
        <nobr class="link-btn">
          <a href="">
            <i class="fa-solid fa-angle-right"></i>
            制作者情報<!-- 眞子 日佳里：6223529*ed.tus.ac.jp(*--&gt;@) -->
          </a>
        </nobr>
        <nobr class="link-btn">
          <a href="">
            <i class="fa-solid fa-angle-right"></i>
            サイトポリシー
          </a>
        </nobr>
      </span>
      <p class="copy">Copyright &copy; Manako 2024 All Rights Reserved.</p>
    </div>
  </footer>
</body>