<style>
    .radial-container {
        position: fixed;
        bottom: 0;
        left: 50%;
        z-index: 1;
    }

    .radial-container #menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        align-items: end;
        justify-content: center;
        justify-items: center;
        gap: 5px;
        margin: 0;
        width: 95dvw;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0%);
        list-style: none;
        font-size: 200%;
        padding: 0;
        z-index: 1;
    }


    .button-content {
        position: fixed;
        bottom: -35px;
        transition: transform 0.2s ease-in-out;
    }

    .radial-menu-button {
        z-index: -1;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        border-radius: 50%;
        background: var(--col-main);
        background-size: 100%;
        overflow: hidden;
        text-decoration: none;
        line-height: normal;
        color: #fff;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .button-content:active {
        transform: translate(-50%, -50%) scale(0.9);
    }


    .radial-container #menu:not(:target)>.button-content .radial-open,
    .radial-container #menu:target>.button-content .radial-close {
        opacity: 1;
        z-index: 1;
    }


    .radial-container #menu:not(:target)>.radial-open:before,
    .radial-container #menu:target>.radial-close:before {
        opacity: 1;
    }

    .radial-menu-item {
        display: none;
        list-style: none;
        line-height: 5px;
        border-radius: 9999px;
        overflow: hidden;
        opacity: 1;
        z-index: -2;
        padding: 0;
        margin: 10px;
        animation: HideMenu 0.2s ease forwards;

    }

    .radial-container #menu:target>.radial-menu-item {
        display: block;
        animation: VisMenu 0.5s ease forwards;
    }

    @keyframes HideMenu {
        0% {
            display: block;
            opacity: 1;
        }

        100% {
            display: none;
            opacity: 0;
        }
    }

    @keyframes VisMenu {
        0% {
            display: none;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }

    .radial-menu-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: normal;
        height: 14dvh;
        width: 14dvh;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        touch-action: manipulation;
        padding: 1dvw;
    }

    .radial-menu-item a:active {
        opacity: 1;
        background-image: conic-gradient(#e7eef1 0% 0%, #ffffff 0% 100%);
        border-radius: 50%;
    }

    .inner-circ {
        text-align: center;
        background-color: #ffffff;
        width: 12dvh;
        height: 12dvh;
        border-radius: 50%;
        position: absolute;
    }

    .radial-menu-item span {
        color: var(--col-text);
        font-size: 10px;
        z-index: 1;
    }


    .content {
        position: absolute;
        text-align: center;
        margin: -10px 0 0 -30px;
        top: 70%;
        left: 50%;
        font-size: 20px;
    }


    .ic-plus {
        transition: transform 0.5s ease;
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
    }


    .radial-container #menu:target .ic-plus {
        transform: translate(-50%, -50%) rotate(135deg);
    }


    .radial-overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .radial-overlay:active {
        opacity: 1;
    }

    .radial-container #menu:target~.radial-overlay {
        display: block;
    }

    .ic-item {
        max-width: 40px;
        width: 10dvh;
        z-index: 1;
    }

    .bottom-menubar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100dvw;
        height: 55px;
        background-color: var(--col-bg);
        z-index: 1;
        border-top: 1.2px solid #ccc;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc(25vw - 40px);
    }

    .stretch-animation {
        position: absolute;
        width: 95dvw;
        height: 100%;
        background-color: #fff;
        z-index: -3;
        transition: transform 0.2s ease, opacity 0.2s 0.05s ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }


    .radial-container #menu:target .stretch-animation {
        opacity: 1;
        transition: transform 0.2s ease, opacity 0.1s ease-in-out;
    }

    .article-info {
        display: none;
        position: fixed;
        line-break: strict;
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        z-index: 0;
        color: #fff;
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .article-info a {
        text-decoration: none !important;
    }

    .article-info a:active {
        opacity: 1;
    }

    .article-info.active {
        display: block;
        opacity: 1;
    }

    .article-info h1:active,
    .article-info h2:active {
        color: var(--col-main);
        background-color: var(--col-text);
    }

    .article-info h1 {
        border-radius: 3px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .article-info h2 {
        margin-top: 0.6rem;
        border-radius: 3px;
        font-size: 0.9rem;
        font-weight: 400;
        padding-left: 15px;
    }


    .bottom-menubar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1;
        text-decoration: none;
        color: var(--col-main);
        padding: 10px;
    }



    .ic-home,
    .ic-info {
        width: 25px;
        height: 25px;
    }


    .radial-menu-button,
    .menu-bar-btn,
    .menu-link {
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        touch-action: manipulation;
    }


    .article-info h1,
    .article-info h2 {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 5px);
        transition: opacity 0.5s ease, transform 0.4s ease;
    }

    .article-info h1.active,
    .article-info h2.active {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
        transition: opacity 0.5s ease, transform 0.4s ease;
    }

    .article-info div:has(a) {
        position: absolute;
        top: 0;
        margin-top: 1rem;
        width: calc(100dvw - 20px);
    }

    .article-info div:has(.active) {
        overflow-y: scroll;
        max-height: calc(100dvh - 205px);
    }

    .is-up-scrollable {
        mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
    }


    .is-down-scrollable {
        mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
    }

    .is-down-scrollable.is-up-scrollable {
        mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
    }

    @media (max-width : 442px) {
        .article-info div:has(.active) {
            overflow-y: scroll;
            max-height: calc(100dvh - 310px);
        }
    }
</style>

<nav class="radial-container sans">
    <div class="bottom-menubar">
        <a href="{{ '/index.html' | relative_url }}" class="menu-bar-btn home">
            <img class="ic ic-home not-select" src="{{ '/assets/icon/home.svg' | relative_url }}" alt="home" />
            home
        </a>
        <a href="{{ '/index.html' | relative_url }}" class="menu-bar-btn info">
            <img class="ic ic-info not-select" src="{{ '/assets/icon/info.svg' | relative_url }}" alt="info" />
            info
        </a>
    </div>
    <ul id="menu">
        <div class="button-content">
            <a class="radial-menu-button radial-open" href="#menu" title="Show radial-nav">
                <img class="ic ic-plus not-select" src="{{ '/assets/icon/plus.svg' | relative_url }}" alt="plus" />
            </a>
            <a class="radial-menu-button radial-close" href="#0" title="Hide radial-nav">
                <img class="ic ic-plus not-select" src="{{ '/assets/icon/plus.svg' | relative_url }}" alt="plus" />
            </a>
        </div>
        <li class="radial-menu-item">
            <a href="{{ '/Igor/Igor.html' | relative_url }}" data-item="item-1" class="menu-link">
                <img class="ic ic-item ic-Igor not-select" src="{{ '/assets/icon/Igor.svg' | relative_url }}"
                    alt="Igor" />
                <span>Igor</span>
                <div class="inner-circ"></div>
            </a>
        </li>
        <li class="radial-menu-item">
            <a href="{{ '/VESTA/VESTA.html' | relative_url }}" data-item="item-2" class="menu-link">
                <img class="ic ic-item ic-VESTA not-select" src="{{ '/assets/icon/VESTA.png' | relative_url }}"
                    alt="VESTA" />
                <span>VESTA</span>
                <div class="inner-circ"></div>
            </a>
        </li>
        <li class="radial-menu-item">
            <a href="{{ '/TeX/TeX.html' | relative_url }}" data-item="item-3" class="menu-link">
                <img class="ic ic-item ic-TeX not-select" src="{{ '/assets/icon/TeX.svg' | relative_url }}" alt="TeX" />
                <span>TeX</span>
                <div class="inner-circ"></div>
            </a>
        </li>
        <li class="radial-menu-item">
            <a href="{{ '/Presentation/Presentation.html' | relative_url }}" data-item="item-4" class="menu-link">
                <img class="ic ic-item ic-Presentation not-select"
                    src="{{ '/assets/icon/powerpoint_icon.png' | relative_url }}" alt="Presentation" />
                <span>プレゼン</span>
                <div class="inner-circ"></div>
            </a>
        </li>
        <li class="radial-menu-item">
            <a href="{{ '/index.html' | relative_url }}" data-item="item-5" class="menu-link">
                <img class="ic ic-item ic-Igor not-select" src="{{ '/assets/icon/Others.svg' | relative_url }}"
                    alt="Others" />
                <span>その他</span>
                <div class="inner-circ"></div>
            </a>
        </li>
        <span class="stretch-animation"></span>
    </ul>
    <a class="radial-overlay" href="#0"></a>
    <div id="article-info" class="article-info">
        <div class="radial-entry-5">
            <h1>その他</h1>
        </div>
    </div>
</nav>



<script type="module">
    import { Gnav } from '/tips/assets/js/Gnav.js';



    const CheckSec = 800;
    const menuLinks = document.querySelectorAll('.menu-link');
    const articleInfo = document.getElementById('article-info');
    const RadialClose = document.querySelector('.radial-close');
    const menu = document.getElementById('menu');
    let longtapTimer;
    let longtap


    function setupMenuEntries() {
        let subcategoryCount = 1;
        Gnav.forEach(category => {
            if (category.children) {
                category.children.forEach(subcategory => {
                    const subcategoryDiv = document.createElement('div');
                    subcategoryDiv.className = `radial-entry-${subcategoryCount}`;
                    const h1 = document.createElement('h1');
                    const subcategoryLink = document.createElement('a');
                    subcategoryLink.href = `/tips${subcategory.url}`;
                    subcategoryLink.textContent = subcategory.title;
                    h1.appendChild(subcategoryLink);
                    subcategoryDiv.appendChild(h1);

                    if (subcategory.children) {
                        subcategory.children.forEach(child => {
                            const h2 = document.createElement('h2');
                            const childLink = document.createElement('a');
                            childLink.href = `/tips${child.url}`;
                            childLink.textContent = child.title;
                            h2.appendChild(childLink);
                            subcategoryDiv.appendChild(h2);
                        });
                    }

                    articleInfo.appendChild(subcategoryDiv);
                    subcategoryCount++;
                });
            }
        });
        setupScrollListeners();
    }

    function hideAllEntries() {
        const allEntries = articleInfo.querySelectorAll('div[class^="radial-entry"]');
        allEntries.forEach(entry => {
            entry.scrollTop = 0;
            const h1 = entry.querySelector('h1');
            const h2 = entry.querySelectorAll('h2');
            if (h1) h1.classList.remove('active');
            h2.forEach(h => h.classList.remove('active'));
        });
        articleInfo.classList.remove('active');
    }

    function setupMenuLinks() {
        menuLinks.forEach(link => {
            longtap = false;
            link.addEventListener('touchstart', () => handleTouchStart(link));
            LongPress(
                link,
                () => handleNormalPress(link, longtap),
                () => handleLongPress(link),
                CheckSec
            );
        });
    }

    function DrawCirc(link) {
        const startTime = Date.now();
        const endTime = startTime + CheckSec;

        const interval = setInterval(() => {
            const currentTime = Date.now();
            const elapsedTime = currentTime - startTime;

            const percentage = Math.min((elapsedTime / CheckSec), 1) * 100;

            link.style.backgroundImage = `conic-gradient(#e7eef1 0% ${percentage}%, #ffffff ${percentage}% 100%)`;

            if (currentTime >= endTime) {
                clearInterval(interval);
            }
        }, 20);

        link.addEventListener('touchend', () => {
            clearInterval(interval);
            link.style.backgroundImage = '';
        });

        link.addEventListener('mouseup', () => {
            clearInterval(interval);
            link.style.backgroundImage = '';
        });
    }


    function handleNormalPress(link, longtap) {
        if (!longtap) {
            window.location.href = link.href;
        }
    }

    function handleTouchStart(link) {
        DrawCirc(link);
        const itemNumber = link.getAttribute('data-item').split('-')[1];
        const targetDiv = document.querySelector(`.radial-entry-${itemNumber}`);
        hideAllEntries();

        if (targetDiv) {
            articleInfo.classList.add('active');

            setTimeout(() => {
                const h1 = targetDiv.querySelector('h1');
                if (h1) h1.classList.add('active');
            }, 10);
        } else {
            articleInfo.classList.add('active');
        }
        longtap = false;
    }

    function handleLongPress(link) {
        const itemNumber = link.getAttribute('data-item').split('-')[1];
        const targetDiv = document.querySelector(`.radial-entry-${itemNumber}`);

        if (targetDiv) {
            const h2Elements = targetDiv.querySelectorAll('h2');
            h2Elements.forEach((h2, index) => {
                setTimeout(() => {
                    h2.classList.add('active');
                }, index * 20);
            });
        }
        setupScrollListeners();
        longtap = true;
    }

    function setupCloseButton() {
        RadialClose.addEventListener('click', hideAllEntries);
    }

    function targetMenu() {
        if (location.hash === '#0') {
            hideAllEntries();
            history.go(-2);
        }
    }

    function setupMenuHistory() {
        history.pushState({ menuOpen: true }, '', '');
        window.addEventListener('popstate', (event) => {
            if (event.state && event.state.menuOpen) {
                hideAllEntries();
            }
        });
    }

    function setupMenuTransition() {
        menu.addEventListener('transitionend', () => {
            if (menu.matches(':target')) {
                document.body.style.overflow = 'hidden';
            } else {
                document.body.style.overflow = '';
            }
        });
    }

    function checkScrollability(targetDiv) {
        const style = getComputedStyle(targetDiv);
        const marginTop = parseFloat(style.marginTop);
        if (targetDiv.scrollTop > 0) {
            targetDiv.classList.add('is-up-scrollable');
        } else {
            targetDiv.classList.remove('is-up-scrollable');
        }

        if (targetDiv.scrollTop < targetDiv.scrollHeight - targetDiv.clientHeight - marginTop) {
            targetDiv.classList.add('is-down-scrollable');
        } else {
            targetDiv.classList.remove('is-down-scrollable');
        }
    }

    function setupScrollListeners() {
        menuLinks.forEach(link => {
            const itemNumber = link.getAttribute('data-item').split('-')[1];
            const targetDiv = document.querySelector(`.radial-entry-${itemNumber}`);
            if (targetDiv) {
                initializeScrollability(targetDiv);
                targetDiv.addEventListener('scroll', () => checkScrollability(targetDiv));
            }
        });
    }

    function initializeScrollability(targetDiv) {
        const style = getComputedStyle(targetDiv);
        const marginTop = parseFloat(style.marginTop);

        if (targetDiv.scrollHeight > targetDiv.clientHeight + marginTop) {
            targetDiv.classList.add('is-down-scrollable');
        } else {
            targetDiv.classList.remove('is-down-scrollable');
        }
    }

    function LongPress(el, nf, lf, sec) {
        let longclick = false;
        let longtap = false;
        let touch = false;
        let timer;
        el.addEventListener('touchstart', () => {
            touch = true;
            longtap = false;
            timer = setTimeout(() => {
                longtap = true;
                lf();
            }, sec);
        })
        el.addEventListener('touchend', () => {
            if (!longtap) {
                clearTimeout(timer);
                nf();
            } else {
                touch = false;
            }
        })

        el.addEventListener('mousedown', () => {
            if (touch) return;
            longclick = false;
            timer = setTimeout(() => {
                longclick = true;
                lf();
            }, sec);
        })
        el.addEventListener('click', () => {
            if (touch) {
                touch = false;
                return;
            }
            if (!longclick) {
                clearTimeout(timer);
                nf();
            }
        });
    }


    document.addEventListener('DOMContentLoaded', () => {
        setupMenuEntries();
        setupMenuLinks();
        setupCloseButton();
        setupMenuHistory();
        setupMenuTransition();
    });

    document.addEventListener('click', (event) => {
        if (event.target.tagName === 'A' && event.target.getAttribute('href') === '#0') {
            setTimeout(() => {
                targetMenu();
            }, 50);
        }
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>