<a [routerLink]="link" class="tips-card">
	<div class="tips-card__thumbnail" *ngIf="thumbnail">
		<img [src]="thumbnail" [alt]="title" loading="lazy">
	</div>

	<div class="tips-card__content">
		<div class="tips-card__meta" *ngIf="date || tags.length > 0">
			<span class="tips-card__date" *ngIf="date">{{ date }}</span>
			<div class="tips-card__tags" *ngIf="tags.length > 0">
				<span class="tips-card__tag" *ngFor="let tag of tags">#{{ tag }}</span>
			</div>
		</div>

		<h3 class="tips-card__title">{{ title }}</h3>

		<p class="tips-card__description" *ngIf="description">
			{{ description }}
		</p>
	</div>
</a>