* {
  box-sizing: border-box;
}

:root {
  --scrollbar: 0;
}

/* loading */
.load {
  position: relative;
}

.loader {
  z-index: 1;
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, var(--col-gray) 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
  position: absolute;
  top: 30px;
  left: calc(50% - 25px);
  transition: opacity .2s ease-in-out;
}

@keyframes l7 {
  to {
    transform: rotate(.5turn);
  }
}

.loader.hidden {
  opacity: 0;
}



/* Modal */

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popovermodal-slide .modal-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.modal-container {
  z-index: 1001;
  background-color: #fff;
  width: 80vw;
  height: 90vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}


.modal-title,
.modal-innertag,
.modal-header-btn ,
.modal-content {
  padding: 0 8%;
}

.modal-header {
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.modal-topline {
  border-top: 1px solid var(--col-bg-gray);
  border-bottom: unset;
}

.popovermodal-header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0.5em;
}

.modal-header-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-title {
  line-height: 2;
  margin-top: 0.2em;
}

.modal-close {
  background: transparent;
  border: 0;
}

.modal-header .modal-close:before,
.popovermodal-header .modal-close:before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.modal-back {
  background: transparent;
  border: 0;
}

.modal-header .modal-back:before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.modal-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 8%;
  line-height: 1.5;
  overflow-x: auto;
}

.modal-content img {
  margin: 1em 0;
  width: 100%;
}

.modal-link {
  letter-spacing: .05em;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  padding: 1.5em 1em;
  -webkit-appearance: button;
  appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
  text-decoration: underline;
  text-decoration-color: rgb(199, 199, 199);
}


.modal-btn {
  letter-spacing: .1em;
  margin: auto;
  line-height: 1.15;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  padding: 1.5em 1em;
  padding: 10px 20px;
  color: var(--col-text);
  border: 2px solid var(--col-gray);
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}



.modal-tag,
.modal-innertag {
  display: flex;
  gap: 0 1em;
  min-width: 0px;
  flex-wrap: wrap;
}


.modal-tag {
  padding: .5rem;
  font-size: .9rem;
}


.modal-innertag {
  margin-bottom: 12px;
}

.table-content {
  overflow-x: auto;
  display: block;
  margin: 1em 0;
}

.table-content table th,
.table-content table td {
  max-width: 50vw;
}

/**************************\
	Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes v-slideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes v-slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}


@keyframes h-slideIn {
  from {
    transform: translateX(15%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes h-slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10%);
  }
}


.micromodal-slide,
.popovermodal-slide {
  display: none;
}

.micromodal-slide.is-open,
.popovermodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: v-slideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: v-slideOut .3s cubic-bezier(0, 0, .2, 1);
}



.modal-tag span,
.modal-innertag span {
  border-radius: 3px;
}

.Allfilter-controls {
  text-align: center;
  margin-bottom: 30px;

  .control {
    position: relative;
    display: inline-block;
    width: 35%;
    max-width: 333px;
    margin: 0 10px;

    * {
      box-sizing: border-box;
    }

    .form-control {
      width: 100%;
      height: 40px;
      padding: 0 20px;
      border: 2px solid #ccc;
      border-radius: 3px;
      background-color: #fff;
      color: #666;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;

      &:focus {
        outline: 0;
        border-color: #0CAAF5;
      }
    }
  }
}

.SP-only .form-control {
  border-radius: 9999px !important;
}

.Search-Sort-control {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SeCont:before,
.SoCont:before {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: gray;
  margin-left: 15px;
  position: absolute;
}

.SeCont:before {
  content: "\f002";
}


.SoCont:before {
  content: "\f161";
}


.grid {
  position: relative;
  max-width: 860px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.grid.visible {
  visibility: visible;
  opacity: 1;
}

.item {
  position: absolute;
  width: calc(25% - 10px);
  margin: 5px;
  z-index: 1;
  transition: transform .6s ease;
  cursor: pointer;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.custom-content {
  vertical-align: middle;
  background: #fff;
  border: 1.8px solid #ccc;
  border-radius: 3px;
}

.item.muuri-item-dragging {
  z-index: 3;
  transition: none;
}

.item.muuri-item-releasing {
  z-index: 2;
}


.filter-control {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem;
  justify-content: center;
  max-width: 900px;
}


.filter-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px dashed var(--col-gray);
  color: var(--col-text);
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.filter-btn i {
  font-size: 55%;
  margin-right: .5em;
  vertical-align: middle;
}


.settings-btn {
  display: none;
}


/* アイコンの色を指定 */

.MustKnow-icon {
  color: var(--col-highlight-red);
}

.Eq-icon {
  color: var(--col-highlight-blue);
}

.EqSymbl-icon {
  color: var(--col-highlight-green);
}

.FigTabItm-icon {
  color: var(--col-highlight-yellow);
}

.Layout-icon {
  color: var(--col-highlight-orange);
}

.StyDocStr-icon {
  color: var(--col-highlight-lightblue);
}

.HighLevel-icon {
  color: var(--col-highlight-pink);
}

.Macro-icon {
  color: var(--col-gray);
}

.Package-icon {
  color: var(--col-highlight-purple);
}

.filter-field input[type="checkbox"] {
  display: none;
}

.modal-innertag span,
.modal-tag span {
  display: inline-flex;
  align-items: center;
  color: var(--col-gray);
}

.modal-tag span {
  font-size: 13px;
}


.modal-innertag span:before,
.modal-tag span:before {
  font-size: 55%;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: .5em;
}

.modal-tag .MustKnow::before,
.modal-innertag .MustKnow::before {
  color: var(--col-highlight-red);
}

.modal-tag .Eq::before,
.modal-innertag .Eq::before {
  color: var(--col-highlight-blue);
}

.modal-tag .EqSymbl::before,
.modal-innertag .EqSymbl::before {
  color: var(--col-highlight-green);
}

.modal-tag .FigTabItm::before,
.modal-innertag .FigTabItm::before {
  color: var(--col-highlight-yellow);
}

.modal-tag .Layout::before,
.modal-innertag .Layout::before {
  color: var(--col-highlight-orange);
}

.modal-tag .StyDocStr::before,
.modal-innertag .StyDocStr::before {
  color: var(--col-highlight-lightblue);
}

.modal-tag .HighLevel::before,
.modal-innertag .HighLevel::before {
  color: var(--col-highlight-pink);
}

.modal-tag .Macro::before,
.modal-innertag .Macro::before {
  color: var(--col-gray);
}

.modal-tag .Package::before,
.modal-innertag .Package::before {
  color: var(--col-highlight-purple);
}

#PC-checkbox-all:checked+.all {
  background-color: var(--col-text);
  border-color: var(--col-text);
  color: white;
}


#PC-checkbox-1:checked+label.MustKnow,
#PC-checkbox-2:checked+label.Eq,
#PC-checkbox-3:checked+label.EqSymbl,
#PC-checkbox-4:checked+label.FigTabItm,
#PC-checkbox-5:checked+label.Layout,
#PC-checkbox-6:checked+label.StyDocStr,
#PC-checkbox-7:checked+label.HighLevel,
#PC-checkbox-8:checked+label.Macro,
#PC-checkbox-9:checked+label.Package {
  border-style: solid;
  color: var(--col-text);
}

.filter-btn:before {
  content: "\f055";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: gray;
  margin-right: 8px;
}


.filter-wrapper .all:before {
  display: none;
}

#PC-checkbox-1:checked+label.filter-btn:before,
#PC-checkbox-2:checked+label.filter-btn:before,
#PC-checkbox-3:checked+label.filter-btn:before,
#PC-checkbox-4:checked+label.filter-btn:before,
#PC-checkbox-5:checked+label.filter-btn:before,
#PC-checkbox-6:checked+label.filter-btn:before,
#PC-checkbox-7:checked+label.filter-btn:before,
#PC-checkbox-8:checked+label.filter-btn:before,
#PC-checkbox-9:checked+label.filter-btn:before {
  display: none;
  margin: 0;
}



#PC-checkbox-1:checked+label.filter-btn:after,
#PC-checkbox-2:checked+label.filter-btn:after,
#PC-checkbox-3:checked+label.filter-btn:after,
#PC-checkbox-4:checked+label.filter-btn:after,
#PC-checkbox-5:checked+label.filter-btn:after,
#PC-checkbox-6:checked+label.filter-btn:after,
#PC-checkbox-7:checked+label.filter-btn:after,
#PC-checkbox-8:checked+label.filter-btn:after,
#PC-checkbox-9:checked+label.filter-btn:after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: white;
  margin-left: .5em;
}


#PC-checkbox-1:checked+label.MustKnow {
  background-color: var(--col-bg-red);
  border-color: var(--col-highlight-red);
}

#PC-checkbox-2:checked+label.Eq {
  background-color: var(--col-bg-blue);
  border-color: var(--col-highlight-blue);
}

#PC-checkbox-3:checked+label.EqSymbl {
  background-color: var(--col-bg-green);
  border-color: var(--col-highlight-green);
}

#PC-checkbox-4:checked+label.FigTabItm {
  background-color: var(--col-bg-yellow);
  border-color: var(--col-highlight-yellow);
}

#PC-checkbox-5:checked+label.Layout {
  background-color: var(--col-bg-orange);
  border-color: var(--col-highlight-orange);
}

#PC-checkbox-6:checked+label.StyDocStr {
  background-color: var(--col-bg-lightblue);
  border-color: var(--col-highlight-lightblue);
}

#PC-checkbox-7:checked+label.HighLevel {
  background-color: var(--col-bg-pink);
  border-color: var(--col-highlight-pink);
}

#PC-checkbox-8:checked+label.Macro {
  background-color: var(--col-bg-gray);
  border-color: var(--col-gray);
}

#PC-checkbox-9:checked+label.Package {
  background-color: var(--col-bg-purple);
  border-color: var(--col-highlight-purple);
}

#SP-checkbox-all:checked+.all {
  background-color: var(--col-text);
  border-color: var(--col-text);
  color: white;
}

/* SP版のチェックボックスに対応するラベルの基本スタイル */
#SP-checkbox-1:checked+label.MustKnow,
#SP-checkbox-2:checked+label.Eq,
#SP-checkbox-3:checked+label.EqSymbl,
#SP-checkbox-4:checked+label.FigTabItm,
#SP-checkbox-5:checked+label.Layout,
#SP-checkbox-6:checked+label.StyDocStr,
#SP-checkbox-7:checked+label.HighLevel,
#SP-checkbox-8:checked+label.Macro,
#SP-checkbox-9:checked+label.Package {
  border-style: solid;
  color: var(--col-text);
}

#SP-checkbox-1:checked+label.filter-btn:before,
#SP-checkbox-2:checked+label.filter-btn:before,
#SP-checkbox-3:checked+label.filter-btn:before,
#SP-checkbox-4:checked+label.filter-btn:before,
#SP-checkbox-5:checked+label.filter-btn:before,
#SP-checkbox-6:checked+label.filter-btn:before,
#SP-checkbox-7:checked+label.filter-btn:before,
#SP-checkbox-8:checked+label.filter-btn:before,
#SP-checkbox-9:checked+label.filter-btn:before {
  display: none;
  margin: 0;
}

#SP-checkbox-1:checked+label.filter-btn:after,
#SP-checkbox-2:checked+label.filter-btn:after,
#SP-checkbox-3:checked+label.filter-btn:after,
#SP-checkbox-4:checked+label.filter-btn:after,
#SP-checkbox-5:checked+label.filter-btn:after,
#SP-checkbox-6:checked+label.filter-btn:after,
#SP-checkbox-7:checked+label.filter-btn:after,
#SP-checkbox-8:checked+label.filter-btn:after,
#SP-checkbox-9:checked+label.filter-btn:after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: white;
  margin-left: .5em;
}

#SP-checkbox-1:checked+label.MustKnow {
  background-color: var(--col-bg-red);
  border-color: var(--col-highlight-red);
}

#SP-checkbox-2:checked+label.Eq {
  background-color: var(--col-bg-blue);
  border-color: var(--col-highlight-blue);
}

#SP-checkbox-3:checked+label.EqSymbl {
  background-color: var(--col-bg-green);
  border-color: var(--col-highlight-green);
}

#SP-checkbox-4:checked+label.FigTabItm {
  background-color: var(--col-bg-yellow);
  border-color: var(--col-highlight-yellow);
}

#SP-checkbox-5:checked+label.Layout {
  background-color: var(--col-bg-orange);
  border-color: var(--col-highlight-orange);
}

#SP-checkbox-6:checked+label.StyDocStr {
  background-color: var(--col-bg-lightblue);
  border-color: var(--col-highlight-lightblue);
}

#SP-checkbox-7:checked+label.HighLevel {
  background-color: var(--col-bg-pink);
  border-color: var(--col-highlight-pink);
}

#SP-checkbox-8:checked+label.Macro {
  background-color: var(--col-bg-gray);
  border-color: var(--col-gray);
}

#SP-checkbox-9:checked+label.Package {
  background-color: var(--col-bg-purple);
  border-color: var(--col-highlight-purple);
}


pre.line-numbers .line-numbers-rows span {
  padding-right: 0.2em;
}


pre.line-numbers code {
  display: block;
}

.code-wrapper {
  font-size: 0.9rem;
}

@media (hover: hover) {

  .modal-link:focus,
  .modal-link:hover,
  .related-link:focus,
  .related-link:hover {
    color: var(--col-gray);
    transform: translateY(1px);
  }

  .modal-btn:focus,
  .modal-btn:hover {
    color: white;
    background-color: var(--col-gray);
  }

  .filter-btn:hover {
    background-color: var(--col-bg-gray);
  }

}


@media (hover: none) {

  .modal-link:active,
  .related-link:active {
    color: var(--col-gray);
    transform: translateY(1px);
  }

  .modal-btn:active {
    color: white;
    background-color: var(--col-gray);
  }

  .filter-btn:active {
    background-color: var(--col-bg-gray);
  }

}

@media (max-width : 900px) {

  .table-content table th,
  .table-content table td {
    max-width: none;
    white-space: nowrap;
  }

  .item {
    width: calc(33.33% - 11px);
  }

  .filter-btn:active {
    background-color: var(--col-bg-gray);
    /* 押下時の色 */
  }

  .filter-wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
    margin: 2rem 0;
    justify-content: flex-start;
  }

  .code-wrapper {
    font-size: 0.8rem;
  }
}

@media (max-width : 640px) {


  .code-wrapper {
    font-size: 0.75rem;
  }

  .grid {
    margin: 0 4%;
  }

  .modal-container {
    height: 100dvh;
    width: 100vw;
    border-radius: 0%;
    padding: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    -webkit-overflow-scrolling: touch;
  }

  .modal-title,
  .modal-innertag,
  .modal-header-btn ,
  .modal-content {
    padding: 0 5%;
  }

  .modal-header {
    padding-top: 30px;
    width: 100vw;
  }
  .modal-footer {
    padding-bottom: 30px;
    width: 100vw;
  }

  .item {
    width: calc(50% - 10px);
  }

  .Allfilter-controls {
    margin-bottom: 0;
  }

  .Allfilter-controls .control {
    width: 100%;
  }

  .filter-btn {
    padding: 5px 10px;
    font-size: 13px;
  }

  .form-control {
    font-size: 13px;
    height: 32px;
  }


  .Search-Sort-control {
    flex-direction: column;
    margin-bottom: .2rem;
    margin-top: 1rem;
    gap: .5rem;
  }

  .filter-wrapper {
    margin: .5rem 0;
  }


  .micromodal-slide[aria-hidden="false"] .modal-container {
    animation: h-slideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal-container {
    animation: h-slideOut .3s cubic-bezier(0, 0, .2, 1);
  }


  /* スライドイン・アウトのアニメーション定義 */
  @keyframes popoverIn {
    from {
      transform: translateY(-20px);
      /* 上からスライドイン */
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes popoverOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  .popovermodal-slide[aria-hidden="false"] .modal-overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .popovermodal-slide[aria-hidden="false"] .modal-container {
    animation: popoverIn 0.1s ease-out;
  }

  .popovermodal-slide[aria-hidden="true"] .modal-overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .popovermodal-slide[aria-hidden="true"] .modal-container {
    animation: popoverOut 0.1s ease-out;
  }


}


/* PC専用 */
.PC-only {
  display: block;
}

/* スマホ専用 */
.SP-only {
  display: none;
}

.popovermodal-slide {
  position: relative;
}

/* ポップオーバーのスタイル */


.popover {
  position: absolute;
  right: 0;
  top: 1%;
  max-width: 400px;
  width: 99%;
  height: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
  overflow: visible;
}


.popover-body {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
}

.popover-body span {
  width: 5em;
}

.SP-only .filter-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
}

.filter-btn i {
  margin-right: 5px;
}


@media screen and (max-width: 640px) and (hover: none) and (pointer: coarse) {

  .PC-only {
    display: none;
  }

  .SP-only {
    display: block;
  }

  .settings-btn {
    display: block;
    z-index: 2;
    background: none;
    border: none;
    padding: 0 10px;
    color: gray;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .settings-btn i {
    font-size: 1.1em;
    color: gray;
  }

  .filter-field,
  .SoCont {
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }


  .filter-field.SP-only,
  .SoCont.SP-only {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .filter-field:not(.SP-only),
  .SoCont:not(.SP-only) {
    max-height: 500px;
    opacity: 1;
  }


  .SoCont:before {
    content: none;
    display: none;
  }


}