.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 16px; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.grid-entry {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    background-color: #fff; 
    padding: 10px;
}

.entry-thumbnail img {
    width: 100%; 
    height: auto; 
}

.ic-circle {
    width: 8px;
    height: 8px;
    overflow: visible;
    margin-right: 5px;
}

.entry-title {
    font-weight: 500;
}

.entry-tag {
    font-size: 0.85rem;
    display: inline-flex;
    align-items: center;
    color: var(--col-gray);
}

p.entry-tag {
    margin: 0;
    padding-left: 1%;
}

.first .ic-circle {
    color: var(--col-highlight-red);
}


.second .ic-circle {
    color: var(--col-highlight-blue);
}

.third .ic-circle {
    color: var(--col-highlight-green);
}


@media (max-width : 640px) {
    .grid-layout {
        padding: 0 4%;
    }
    .entry-tag {
        font-size: 0.7rem;
    }
}


