<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta name="robots" content="noindex, nofollow" />
    <meta property='og:type' content='website'>
    <meta property='og:url' content='{{ site.url }}{{ page.url }}'>
    <title>{{ page.title | default: site.title }}</title>

    <!-- reset.css destyle -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />

    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <!-- scroll -->
    <link rel="stylesheet" href="https://unpkg.com/scroll-hint@latest/css/scroll-hint.css">


    <!-- css -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">


    <!-- favicon -->
    <link rel="icon" href="{{ page.favicon | default: '/assets/icon/emoji1f393.svg' | relative_url  }}" type="image/svg+xml">



</head>

<body>
    <div class="all-wrapper">

        <main>
            <div class=" radial SP-only">
                {% include radial.html %}
            </div>

            <article class="page sans">
                <div class="page-body">
                    <div class="column-list">
                        {% for category in site.data.Gnav %}
                        <div class="column">
                            <h1>{{ category.title }}</h1>
                            <hr>
                            {% for subcategory in category.children %}
                            <div class="column-category">
                                <h2 class="submaster">
                                    <a href="{{ subcategory.url }}" class="submaster-title">{{ subcategory.title }}
                                    </a>
                                </h2>
                                {% for page in subcategory.children %}
                                <a href="{{ page.url | relative_url }}" class="link-to-page">
                                    <img src="{{ page.img | relative_url }}" alt="{{ page.title }}" />
                                    {{ page.title }}
                                </a>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {{ content }}
        </main>

        <footer id="footer" class="PC-only">
            {% include footer.html %}
        </footer>

    </div>


    <script type='text/javascript' src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scroll-hint@latest/js/scroll-hint.min.js"></script>

    <script src="{{ '/assets/js/main.js' | relative_url }}" type="module"></script>
</body>

</html>